.sidebar-right{
    width: 40%;
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.your-submissions{
    width: 100%;
    height: 90%;
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.your-submissions>span{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.submit-btn{
    background-color: rgb(54, 63, 130);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    color: white;
    width: 100%;
    height: 10%;
    align-self: flex-end;
}
.submit-btn:hover{
    opacity: .9;
}